<div class="page-header">
  <div class="pull-right">
    <%= link_to 'Add Family', new_family_path, class: 'btn btn-info'%>
  </div>
  <h1>Guest List</h1>
</div>

<table class='table'>
  <thead>
    <th>
      Code
    </th>
    <th>
      Guest
    </th>
    <th>
      RSVP status
    </th>
    <th>
      Address
    </th>
    <th>

    </th>
  </thead>
  <tbody>
    <% @guests.each do |guest| %>
      <tr>
        <td>
          <%= guest.family.secret_code %>
        </td>
        <td>
          <%= guest.full_name %>
        </td>
        <td>
          <% if guest.attending %>
            <span class="glyphicon glyphicon-ok text-success" aria-label="yes"></span>
          <% elsif guest.attending == false %>
            <span class="glyphicon glyphicon-remove text-danger" aria-label="no"></span>
          <% else %>
            <span class="glyphicon glyphicon-question-sign text-warning" aria-label="not yet responded"></span>
          <% end %>
        </td>
        <td>
          <% if guest.family.address != '' %>
            <span class="glyphicon glyphicon-ok text-success" aria-label="yes"></span>
          <% else %>
            <span class="glyphicon glyphicon-remove text-danger" aria-label="no"></span>
          <% end %>
        </td>
        <td>
          <div class="pull-right">
            <%= link_to "See this Family", new_family_guest_path(guest.family), class: 'btn btn-info' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
