<h1 class='page-header'>Estes Park and surrounding area</h1>
<h3>Restaurants / Bars</h3>
<ul>
  <li>Smokin' Dave's</li>
  <li>Nepal's Cafe in Estes</li>
</ul>
<h3>Sightseeing</h3>
<ul>
  <li>Flyfishing in the Big Thompson</li>
  <li>Rocky Mountain National Park</li>
</ul>

<h1 class='page-header'>Boulder and surrounding area</h1>
<h3>Restaurants / Bars</h3>
<ul>
  <li>Pearl Street Mall</li>
  <li>Dushanbe</li>
  <li>Avery</li>
</ul>
<h3>Sightseeing</h3>
<ul>
  <li>Flyfishing in the Boulder Creek</li>
  <li>Pearl Street Mall</li>
  <li>Chataqua (hiking...)</li>
  <li>Nederland</li>
  <li>Sanitas (hiking in Boulder)</li>
</ul>

<h1 class='page-header'>Lyons and surrounding area</h1>
<h3>Restaurants / Bars</h3>
<ul>
  <li>Oscar Blues</li>
  <li>Lyons Classic Pinball</li>
</ul>
<h3>Sightseeing</h3>
<ul>
  <li>Flyfishing in the St. Vrain</li>
</ul>
