<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Someone is trying to RSVP for your shit.</h1>
    <p>
      The names they have tried are:
    </p>

    <ul>
    <% @fail_names.each do |name| %>
      <li><%= name %></li>
    <% end %>
    </ul>

    <p>
      Maybe you should tell them to fukoff. Or send them an invite.
    </p>
    <p>Thanks for being so awesome and have a great day!</p>
  </body>
</html>
