<h1>Welcome, <%= @user.full_name %></h1>
<div class='well'>
  <% if @user.attending == nil %>
    <h4>You have not submitted an RSVP</h4>
    <div class='row'>
      <ul class="list-group col-md-offset-2  col-sm-6">
        <li class="list-group-item">
          <span class="badge">not yet responded</span>
          <%= @user.full_name %>
        </li>
      </ul>
    </div>
    <div class='row'>
      <%= link_to "Répondez S'il Vous Plaît", edit_rsvp_path(@user.id), class: 'btn btn-info col-md-offset-2' %>
      </div>
    </div>
  <% else %>
  <% end %>
</div>
